.continuous-descriptor
    border 2px dotted black
    padding 2vmin

    &__zoom-close-button
        position absolute
        right 24px
        top 24px

    &__title
        margin 0 0 1vmin 0

    &__zoomed-view
        background-color white
        bottom 0
        display flex
        left 0
        padding 2vmin
        position absolute
        top 0
        right 0

    &__zoomed-view-transition
        &-enter
            opacity 0
            transform scale(0)

            &-active
                transition all 300ms

            &-to
                opacity 1
                transform scale(1)

        &-leave
            &-active
                transition opacity 300ms

            &-to
                opacity 0

    &__descriptor-details
    &__observation-details
        flex 1 1 0