.matrix-row-coder
    &__title
        line-height 1
        margin 0
        padding 0

    &__descriptor-list
        list-style none inside

    &__descriptor-container
        border 1px dotted #333
        margin-bottom 2vh
        padding 2vw

    &__descriptor-title
        margin 0 0 1vmin 0